<!DOCTYPE html>
<html>
<head>
    <title>Lấy mật khẩu</title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <h2>Mật khẩu của bạn đã thay đổi</h2>
    </div>
    <hr />
    <p>Xin chào {{TenKhachHang}}! </p> 
    <p>Mật khẩu cho Tài khoản Websites của bạn tại WebsitesDocSachAC.com gần đây đã được thay đổi.</p>
    <p>
        Mật khẩu mới của bạn là: {{MatKhauMoi}}
    </p>
    <br />
    <p>Bạn có thể dùng nó để đăng nhập Websites tại <a>Đây.</a></p>
    <br />
    <hr />
    <p>Trân trọng.</p>
</body>
</html>
