 
 
@{
    ViewBag.Title = "Xác nhận đặt hàng.";
    Layout = "~/Views/Layout/LayoutNguoiDung.cshtml";
}

<h2 style="text-align:center; color: red;">XÁC NHẬN ĐƠN HÀNG</h2> 

<div>
    
    

    <h3 class="text-center" style="color:orange; font-size:18px; font-weight:bold;">CẢM ƠN CÁC BẠN ĐÃ ĐẶT SÁCH TẠI CỬA HÀNG CÚNG TÔI.</h3>
    <h3 class="text-center" style="color:orange; font-size:18px; font-weight:bold;">CHÚC BẠN CÓ MỘT NGÀY LÀM VIỆC VUI VẺ.</h3>

    <p class="text-center">Đơn đặt hàng của bạn chúng tôi đã nhận được.</p>
    <p class="text-center">Số Lượng sách bạn đặt sẽ được gửi đúng địa chỉ và thời hạn.</p>
    <p class="text-center" style="font-size: 16px; color: red;">hặc bạn có thể thải link @Html.ActionLink("tại đây.", "DanhSachSachDaDat", "GioHang")</p>
     
    <img class="img-responsive" src="~/Images/Icon/cai-bat-tay.jpg" />
</div>
<div class="clearfix"></div>